 body {
  margin: 90px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.conjunto{
  text-align: center;
  display: block;  
}

.col{
  background-color: rgb(32, 105, 239);
}

.form-control {
  background-color: rgb(226, 245, 130);
}

.etiqueta {
  font-size: larger;
  font-style: italic;
}